# ── AWS ───────────────────────────────────────────────────────────────────────
PEM_FILE=labuser.pem
SSH_USER=ubuntu
PUBLIC_DNS=public_dns_here

# ── GitHub ─────────────────────────────────────────────────────────────────────
GITHUB_REPO=https://github.com/Cairnstew/Group_4_Coursework_1.git
GITHUB_USER=Cairnstew
GITHUB_TOKEN=your_personal_access_token_here
GITHUB_BRANCH=*/main

# ── Jenkins ────────────────────────────────────────────────────────────────────
JENKINS_URL=http://localhost:8080
JENKINS_USER=admin
JENKINS_PASS=admin
JOB_NAME=job-01

# ── SonarQube ──────────────────────────────────────────────────────────────────
SONAR_URL=http://localhost:9000
SONAR_USER=admin
SONAR_PASS=admin
SONAR_PROJECT_KEY=group4-dec2hex
SONAR_PROJECT_NAME="Group4 Dec2Hex"